{% extends "DevLeaguesBundle:User:index.html.twig" %}

{% block page_title %}EMPTY Page{% endblock %}
{% block page_subtitle %}This is a temporary EMPTY page of DevLeagues.com{% endblock %}

{% block body %}
<h1>Welcome to the User:edit page</h1>
{% endblock %}
