{% extends "DevLeaguesBundle::base.html.twig" %}

{% block title %}DevLeaguesBundle:About:index{% endblock %}

{% block body %}
<h1>About DevLeagues</h1>
<p>
	This project started on december 2016 by Fabien Blin, as a personal project
	but with the conviction it could be the beginning of a great adventure.
</p>
<p>
	The idea came after some delicious pizza with schoolmates, talking about how
	to challenge newbies on simple school exercices. Moreover, it would be
	essencial to reward masters and pupils for their participation and get
	reputation from victories in order to show other schoolmates the best teams.
</p>
{% endblock %}
