{% extends "DevLeaguesBundle::default.html.twig" %}

{% block page_title %}Contact{% endblock %}
{% block page_subtitle %}Feel free to say your mind{% endblock %}

{% block box_header %}
	<h3>
		Nothing yet.
	</h3>
{% endblock %}

{% block box_body %}
	<p>
		Nothing yet.
	</p>
{% endblock %}

{% block box_footer %}
	<p>
		Nothing yet.
	</p>
{% endblock %}
