{% extends "DevLeaguesBundle::base.html.twig" %}

{% block title %}DevLeaguesBundle:Contact:index{% endblock %}

{% block body %}
<h1>Contact</h1>
<p>
	I just told you to w8 until stuff gets ready.
</p>
<q cite="">Patience, <br>use the force, <br>think.</q>
<p>
	- Obi Wan Kenoby
</p>
{% endblock %}
