{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}

{% block page_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#">DevLeagues</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Register to start your session</p>
			{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
			    {{ form_widget(form) }}
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox">
							<label for="remember_me">Remeber me</label>
							<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div><!-- /.col -->
                </div>
            {{ form_end(form) }}

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
            </div><!-- /.social-auth-links -->

            <a href="{{ path("fos_user_security_login") }}">I'm allready a member</a><br>

        </div><!-- /.login-box-body -->
    </div>
{% endblock %}
