{% extends "DevLeaguesBundle::default.html.twig" %}

{% block page_title %}Hello World !{% endblock %}
{% block page_subtitle %}Welcome to the familly{% endblock %}

{% block box_header %}
	<h3>
		What is DevLeagues ?
	</h3>
{% endblock %}

{% block box_body %}
<h4>General</h4>
<p>
	This website is a social media for developers who wish to show their
	knowledge of IT. Futhermore, developers may create events to challenge their
	friends. This will give rewards to all the involved developers, the
	challengers as much as the organizers.
</p>
<p>
	You may also create relationships to others devs to show the community your
	mentors and pupils as you progress in this huge familly of experts.
</p>
<p>
	Why do this ?
	Well just because this could help you and you friends to show your IRL
	experiences of technologies over time, use your profile as a resume
	or just to get famous in the community.
</p>
<p>
	Create events and challenge other devs to levelup, Create your league and
	challenge other leagues. Get notorious and learn from senior developers on
	any tech.
</p>
<p>
	Your destiny awaits !
</p>
<h4>Rewards</h4>
<p>
	There is a vairety of posssible rewards such as bitcoins, money, notoriety,
	experience or gold.
</p>
<p>
	Rewards are granted by participating to events created by you or others.
	Companys may have big challenges for you with huge rewards, even if you
	don't earn a medal.
</p>
<h4>Leagues</h4>
<p>
	After a certain notoriety, you may create your very own league and grow
	your social circle. This allows new privileges and gives you access to a
	hole new kind of involvement.
</p>
<p>
	Join a league to easely find masters of whatever tech you are learning.
	Get involved as much as you wish and earn extra group rewards.
</p>
<h4>Friendzone</h4>
<p>
	Depending on your experience over certain technologies, you may find your
	master or become the master of someone. This involvment is of course
	rewarded every time you ask for help or yourself help someone.
</p>
<h4>Companies</h4>
<p>
	Companies may signin to find their futur devs or create events to do the
	development they need.
</p>
{% endblock %}

{% block box_footer %}{% endblock %}
