{% extends "DevLeaguesBundle::default.html.twig" %}

{% block page_title %}Default{% endblock %}
{% block page_subtitle %}text{% endblock %}

{% block box_header %}
	<h3>
		box_header
	</h3>
{% endblock %}

{% block box_body %}
	<p>
		box_body
	</p>
{% endblock %}

{% block box_footer %}
	<p>
		box_footer
	</p>
{% endblock %}
