<h3>My Account</h3>
<ul class="nav nav-stacked nav-pills">
	<li role="presentation" class="active">
		<a href="{{ path('fos_user_profile_show') }}">Profile</a>
	</li>
	<li role="presentation">
		<a href="#">Messages <span class="badge">4</span></a>
	</li>
	<li role="presentation">
		<a href="{{ path('user_show_friends') }}">Friendzone</a>
	</li>
	<li role="presentation">
		<a href="{{ path('user_show_events') }}">Events</a>
	</li>
	<li role="presentation">
		<a href="{{ path('user_show_leagues') }}">League</a>
	</li>
</ul>
