{% extends "DevLeaguesBundle::base.html.twig" %}

{% block body %}

<h1>All Users</h1>

<div class="row">
	{% for user in users %}
		{% include 'DevLeaguesBundle:Profile:showReduced.html.twig' %}
	{% endfor %}
</div>

{% endblock %}
