{% block user %}

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="panel-title" href="{{ path('user_show_profile', { 'userName': user.username }) }}">
					<h2>{{ user.username }}</h2>
				</a>
			</div>
			<div class="panel-body">
				more details
			</div>
		</div>
	</div>

{% endblock %}
