{% block league %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="panel-title" href="{{ path('show_league', { 'leagueName': league.name })}}">
					<h2>{{ league.name }}</h2>
				</a>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Users</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for user in league.users %}
								<td>{{ user.username }}</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
