{% extends "DevLeaguesBundle::base.html.twig" %}

{% import "DevLeaguesBundle::macros.html.twig" as dl_macro %}

{% block page_title %}Leagues{% endblock %}
{% block page_subtitle %}whatever{% endblock %}

{% block page_content %}
<div class="row">
	{% for league in leagues %}
		{{ dl_macro.league_reduced(league) }}
	{% endfor %}
</div>
{% endblock %}
